<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1"
        android:versionName="1"
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.offsec.nethunter">
        
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="15" />
    
    <application android:label="@string/app_name"
    android:icon="@drawable/ic_launcher">
        
        <activity android:name=".AppNavHomeActivity"
                android:label="@string/app_nav_home_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NethunterActivity"
                  android:label="@string/nethunter_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".NethunterActivity" />
        </activity>
        
        <activity android:name=".KaliServicesActivity"
                  android:label="@string/kali_services_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".NethunterActivity" />
        </activity>
        
		<activity android:name=".HidActivity"
                  android:label="@string/hid_label"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".AppNavHomeActivity" />
        </activity>

        <activity android:name=".BadusbActivity"
                  android:label="@string/badusb_label"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".AppNavHomeActivity" />
        </activity>

		<activity android:name=".ManaActivity"
                  android:label="@string/mana_label"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".AppNavHomeActivity" />
        </activity>
        
        <activity android:name=".DnsmasqActivity"
                  android:label="@string/dnsmasq_label"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".AppNavHomeActivity" />
        </activity>

        <activity android:name=".HostapdActivity"
                  android:label="@string/hostapd_label"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".AppNavHomeActivity" />
        </activity>
        
        <activity android:name=".IptablesActivity"
                  android:label="@string/iptables_label"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".AppNavHomeActivity" />
        </activity>
        
        <activity
        android:name=".EditSourceActivity"
		android:windowSoftInputMode="stateHidden"
        android:label="Edit Source"
        android:parentActivityName=".HostapdActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HostapdActivity" />
    </activity>
        
    </application>
</manifest>